---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=wrapper
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="removed", oauth_nonce="removed",
        oauth_signature="removed", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1526831885", oauth_token="removed-removed",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 20 May 2018 15:58:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9e0cf6fa5b43202ab57451365bd049a8
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1526832786'
      X-Response-Time:
      - '377'
      X-Transaction:
      - '007553210083800e'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sun May 20 15:57:07 +0000 2018","id":998231150635225095,"id_str":"998231150635225095","text":"Album
        covers, magazine covers, condom wrapper prints, i\u2019m trying to do it all.
        Remember THIS tweet https:\/\/t.co\/S4ODaDiLgQ","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/S4ODaDiLgQ","expanded_url":"https:\/\/twitter.com\/fuckemanfeedem\/status\/998226737791143937","display_url":"twitter.com\/fuckemanfeedem\u2026","indices":[99,122]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":870836310705135620,"id_str":"870836310705135620","name":"Faayame
        the charm\ud83c\udf40","screen_name":"Faayame","location":"","description":"Highkey\u2022Traveling
        photographer\u2022Aspiring actor\u2022\u264b\ufe0f\ud83c\udf1e\u2649\ufe0f\ud83c\udf15
        \u264f\ufe0f \u2b06\ufe0f\u2022","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":186,"friends_count":341,"listed_count":0,"created_at":"Sat
        Jun 03 02:55:30 +0000 2017","favourites_count":535,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2406,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/996799059678711808\/g_641nBH_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/996799059678711808\/g_641nBH_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/870836310705135620\/1521648063","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":998226737791143937,"quoted_status_id_str":"998226737791143937","quoted_status":{"created_at":"Sun
        May 20 15:39:35 +0000 2018","id":998226737791143937,"id_str":"998226737791143937","text":"I\u2019m
        trying to shoot some album covers this year\nRemember this tweet!!!","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_[...]
